.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.fields-group,
.buttons-group {
    display: flex;
    flex-direction: column;
}

.fields-group {
    margin-bottom: 20px;
}

.login-button {
    margin-bottom: 10px !important;
}